html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.top{
  width: auto;
  height: 70px;
  background-color: #f2f2f2;
}
.top h1{
  float: right;
  padding-right: 15%;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: 900;
}
.row{
  margin: 15px;
  width: auto;
  height: 87%;
  background-color: yellowgreen;
}
.row_in{
  float: left;
  margin: 20px;
  width: 350px;
  height: 230px;
  background-color: grey;
  border: 10px solid white;
}
.box1{
  background-color: yellowgreen;
}
.box2{
  background-color: orange;
}
.box3{
  background-color: yellow;
}
.box4{
  background-color: lightblue;
}
