html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.top{
  width: auto;
  height: 70px;
  background-color: #d9d9d9;
}
.top h1{
  float: right;
  padding-right: 15%;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: 900;
}
.row{
  margin: 15px;
  width: auto;
  height: 87%;
  background-color: yellowgreen;
}
.row_in{
  float: left;
  margin: 20px;
  width: 350px;
  height: 230px;
  background: rgb(34,193,195);
background: -webkit-linear-gradient(bottom, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: -o-linear-gradient(bottom, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: linear-gradient(to top, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: 10px solid white;
}
.box1{
  background-color: yellowgreen;
}
.box2{
  background-color: orange;
}
.box3{
  background-color: yellow;
}
.box4{
  background-color: lightblue;
}




@media screen and (min-width: 1024px) and (max-with: 1280px) {
  body{
    background-color: black;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body{
    background-color: black;
  }
  .top{
    width: auto;
    height: 150px;
    background-color: #d9d9d9;
  }
  .top h1{
    float: right;
    padding-right: 10%;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 900;
  }
  .row{
    margin: 15px;
    width: auto;
    height: auto;
  }
  .row_in{
    margin: 50px;
    width: auto;
    height: 100%;
    border: 15px solid white;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body{
    background-color: pink;
  }
  .top{
    width: auto;
    height: 100px;
    padding-left: 20px;
    background-color: #d9d9d9;
  }
  .row{
    margin: 15px;
    width: auto;
    height: 125%;
  }
  .row_in{
    float: left;
    margin: 20px;
    width: 300px;
    height: 200px;
  }
}
