html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.top{
  width: auto;
  height: 80px;
  background-color: #f2f2f2;
}
.row{
  margin: 15px;
  width: auto;
  height: 350px;
  background-color: yellowgreen;
}
.row_in{
  margin: 10px;
  width: 200px;
  height: auto;
  border: yellow;
}
